{#
/**
 * @file
 * Theme implementation to display a Drupal installation page.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_install_page()
 */
#}


<div id="page" class="container">
  <div class="row row-condensed">
    <div class="col s12">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row row-condensed">
          <header role="banner" class="col s12">
            <div class="row row-condensed">
              <div class="valign-wrapper">
                <div class="col s12 m4">
                  {% if profile_logo %}
                    <img src="{{ profile_logo }}" class="responsive-img logo">
                  {% else %}
                    <img src="../{{ active_theme_path() }}/logo.svg" class="responsive-img logo">
                  {% endif %}
                </div>
                <div class="col s12 m8">
                  <h1 class="page-title">
                    {% if site_name and site_version %}
                      <div class="site-name">{{ 'Welcome to Greencko'|t }} {{ site_version |trim('8.x-') }}</div>
                      <div>{{ "We're ready to power up your webproject"|t }}</div>
                    {% elseif site_name %}
                      <div class="site-name">{{ 'Welcome to Greencko'|t }}</div>
                      <div>{{ "We're ready to power up your webproject"|t }}</div>
                    {% endif %}
                  </h1>
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row row-condensed">
          <div class="col s12">
            <div class="row row-condensed">
              {% if page.sidebar_first %}
                <aside class="hide-on-small-only col s12 m4" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
                <main role="main" class="col s12 m8">
                  {% if title %}
                    <h2>{{ title }}</h2>
                  {% endif %}
                  {{ page.highlighted }}
                  {{ page.content }}
                </main>
              {% else %}
                <main role="main" class="col s12">
                  {% if title %}
                    <h2>{{ title }}</h2>
                  {% endif %}
                  {{ page.highlighted }}
                  {{ page.content }}
                </main>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <footer class="installer-footer clearfix">
        <div id="credit" class="clearfix">
          <span class="message">Based upon the excellent enterprise website platform</span>
          <a href="https://www.drupal.org/project/varbase" target="_blank">Varbase</a><br>
          <span class="message">and of course</span>
          <a href="https://www.drupal.org" target="_blank">Drupal</a><br>
          <span class="message">Built by</span>
          <a href="http://www.joergriemenschneider.de" target="_blank">Jörg Riemenschneider</a>
        </div>
      </footer>
    </div>
  </div>
</div>
